* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.area {
    width: 600px;
    height: 400px;

    border: 1px solid blue;
    background-color: #ecf0f1;
}

.seesaw {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    pointer-events: none;
}

.pivot {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #555;
}

.plank {
    width: 400px;
    position: absolute;
    bottom: -10px;
    left: 50%;


    height: 16px;
    background: #34495e;
    cursor: pointer;
    pointer-events: auto;

    transform: translateX(-50%);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
}

.ball {
    position: absolute;
    bottom: 16px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-area {
    border: 1px solid red;
    position: absolute;
    width: 100%;
    height: 294px;
    bottom: -9px;
    cursor: pointer;
    background: transparent;
    cursor: pointer;
    pointer-events: auto;
}


.values-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 10px;

    /* width: 600px;
    height: 200px; */
}

.box {
    border: 1px solid red;
    width: 140px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}